html {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

body {
  background-color: #f8f8f8;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a,
a:link,
a:visited,
a:active {
  color: #222;
}

section {
  margin-bottom: 1rem;
}

section:last-child {
  margin-bottom: 0;
}

#global-nav a,
#global-nav a:link,
#global-nav a:active,
#global-nav a:visited {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .2s;
}

#global-nav a:hover {
  border-bottom-color: #222;
}

main {
  background-color: white;
  flex-grow: 1;
}

/* --- Site header --- */
#site-header {
  background-color: rgb(227, 249, 227);
  border-bottom: 2px solid rgb(202, 231, 202);
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  padding: 20px;
}

#site-header label {
  margin-right: 20px;
  display: flex;
  display: none;
}

#site-header label img {
  width: 32px;
  height: 32px;
}

#site-header h1 {
  margin: 0;
}

#site-header nav {
  justify-self: right;
}

#global-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#global-nav li {
  display: inline;
  padding: 0 10px;
}

#menu-checkbox {
  display: none;
}

/* --- Main content --- */
main {
  padding: 20px;
}

img {
  max-width: 100%;
}

/* --- splash --- */
#splash {
  position: relative;
  margin: 0;
}

#splash video {
  width: 100%;
  display: block;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

#splash .overlay {
  position: absolute;
  background: linear-gradient(transparent, rgba(0, 0, 0, .5));
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em 1em;
  color: white;
  font-size: 300%;
  font-weight: bold;
}

/* --- columns --- */
#first-page-interactions {
  display: grid;
  grid-template-columns: 1fr 220px;
  gap: 30px;
}

#first-page-interactions .weather {
  order: 2;
}

#first-page-interactions .observation {
  order: 1;
}

/* --- Local navigation --- */
#local-nav {
  background-color: rgb(227, 249, 227);
  border: 1px solid rgb(202, 231, 202);
  padding: 10px;
  margin-right: 10px;
  float: left;
}

#local-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* --- Lists of visitors --- */
.visitors {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.visitors li {
  display: grid;
  gap: 20px;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "head head"
    "image desc";

  margin-top: 20px;
  padding: 20px;
  /* background-color: rgb(251, 246, 226);
  border: 1px solid rgb(241, 222, 144); */
}

.visitors li h3 {
  grid-area: head;
  margin: 0;
}

.visitors li img {
  grid-area: image;
  border-radius: 999px;
  border: 1px solid rgb(241, 222, 144);
}

.visitors li .description {
  grid-area: desc;
}

.visitors li .description p:first-child {
  margin-top: 0;
}

/* --- Formulär -- */
fieldset {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 6px;
}

fieldset .actions {
  grid-column: 1 / 3;
  text-align: center;
}

button {
  background-color: green;
  color: white;
  border: 2px solid rgb(79, 171, 79);
  border-radius: 5px;
  padding: 3px 10px;
}

button:hover {
  background-color: rgb(78, 143, 78);
}

@media screen and (max-width: 920px) {
  html {
    font-size: 16px;
  }

  #global-nav li {
    padding: 0 4px;
  }
}

@media screen and (max-width: 700px) {
  #first-page-interactions {
    display: block;
  }

  #site-header label {
    display: block;
  }

  #site-header nav {
    display: none;
    justify-self: stretch;

    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  #menu-checkbox:checked~nav {
    display: block;
  }

  #global-nav li {
    display: block;
  }
}